<div th:fragment="fixedExpense">

    <div id="modal-out" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalOut()">&times;</span>

            <form method="post" th:object="${fixedExpense}" th:action="@{/{currYear}/{currMonth}/fixedExpense(currYear=${currYear}, currMonth=${currMonth})}">
                <label for="descr-out">Ausgabe: </label>
                <input type="text" id="descr-out" th:field="*{descr}" placeholder="z.B. Miete">
                <div class="error" th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}"></div>

                <label for="amount-out">Betrag:</label>
                <input type="number" id="amount-out" th:field="*{amount}" step="0.01" min="0">
                <div class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>

                <input type="hidden" th:field="*{isIncome}" value="false">

                <label for="startMonatOut">Startmonat:</label>
                <input type="month" id="startMonatOut" th:field="*{start}" required>

                <label>
                    <input type="checkbox" id="endToggleOut" onchange="toggleEndmonatOut()" checked>
                    Kein Endmonat (läuft unbefristet)
                </label>

                <div id="endmonthSectionOut" style="display: none;">
                    <label for="endMonthOut">Endmonat</label>
                    <input type="month" id="endMonthOut" th:field="*{endValue}">
                </div>

                <label for="freq">Häufigkeit: </label>
                <select id="freq" th:field="*{frequency}">
                    <option th:each="option: ${T(de.ftracker.domain.model.costDTOs.Interval).values()}" th:value="${option}" th:text="${option.getLabel()}">Intervall</option>
                </select>
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>
</div>