<div th:fragment="fixedIncome">

    <div id="modal-in" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalIn()">&times;</span>

            <form method="post" th:object="${fixedIncome}" th:action="@{/{currYear}/{currMonth}/fixedIncome(currYear=${currYear}, currMonth=${currMonth})}">
                <label for="descr">Einahme: </label>
                <input type="text" id="descr" th:field="*{descr}" placeholder="z.B. Gehalt">
                <div class="error" th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}"></div>

                <label for="amount">Betrag:</label>
                <input type="number" id="amount" th:field="*{amount}" step="0.01" min="0">
                <div class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>

                <input type="hidden" th:field="*{isIncome}" value="true">

                <label for="startMonat">Startmonat:</label>
                <input type="month" id="startMonat" th:field="*{start}" required>

                <label>
                    <input type="checkbox" id="endToggle" onchange="toggleEndmonat()" checked>
                    Kein Endmonat (läuft unbefristet)
                </label>

                <div id="endmonthSection" style="display: none;">
                    <label for="endMonth">Endmonat</label>
                    <input type="month" id="endMonth" th:field="*{end}">
                </div>

                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>
</div>