<div th:fragment="incomeTable">
    <div id="einnamen-table">
        <table>
            <thead>
            <tr>
                <th>Einname</th>
                <th>Betrag</th>
                <th class="delete-col hidden"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="income: ${incomes}">
                <td th:text="${income.descr}"></td>
                <td th:text="${#numbers.formatDecimal(income.amount, 1, 'COMMA', 2, 'POINT')}"></td>
                <td class="delete-col hidden">
                    <form method="post" th:if="${!income.isFixedCost()}" th:action="@{/{currYear}/{currMonth}/deleteIncome(currYear=${currYear}, currMonth=${currMonth})}">
                        <input type="hidden" name="id" th:value="${income.id}">
                        <button type="submit" class="delete-btn">x</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="sum-in">
            <b>Summe: </b>
            <span th:text="${#numbers.formatDecimal(sumIn, 1, 'COMMA', 2, 'POINT')}">0.00</span>
            <span>€ </span>
        </div>
    </div>

</div>
<div th:fragment="expenseTable">
    <div class="expenses-table">
        <table>
            <thead>
            <tr>
                <th>Ausgabe</th>
                <th>Kosten</th>
                <th class="delete-col hidden"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense: ${expenses}">
                <td th:text="${expense.descr}"></td>
                <td th:text="${#numbers.formatDecimal(expense.amount, 1, 'COMMA', 2, 'POINT')}"></td>
                <td class="delete-col hidden">
                    <form method="post" th:if="${!expense.isFixedCost()}" th:action="@{/{currYear}/{currMonth}/deleteExpense(currYear=${currYear}, currMonth=${currMonth})}">
                        <input type="hidden" name="id" th:value="${expense.id}">
                        <button type="submit" class="delete-btn">x</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="sum-out">
            <b>Summe: </b>
            <span th:text="${#numbers.formatDecimal(sumOut, 1, 'COMMA', 2, 'POINT')}">0.00</span>
            <span>€</span>
        </div>
    </div>
</div>