<div th:fragment="overviewFixed">

  <div id="overview" class="modal hidden">
    <div class="modal-content">
      <span class="close" onclick="closeModalOverview()">&times;</span>
      <h1>Überblick</h1>
      <table>
        <thead>
        <tr>
          <th>Einnahme</th>
          <th>Betrag</th>
          <th>Frequenz</th>
          <th>Startmonat</th>
          <th>Endmonat</th>
          <th>-</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fIncome: ${fixedIncomes}">
          <td th:text="${fIncome.descr}"></td>
          <td th:text="${#numbers.formatDecimal(fIncome.amount, 1, 'COMMA', 2, 'POINT')}"></td>
          <td th:text="${fIncome.frequency}">monaltich</td>
          <td th:text="${fIncome.start}"></td>
          <td th:text="${fIncome.endValue != null ? fIncome.endValue : '-'}">-</td>
          <td>
            <form method="post" th:action="@{/{year}/{month}/deleteFixedIncome(year=${currYear}, month=${currMonth})}">
              <input type="hidden" name="descr" th:value="${fIncome.descr}">
              <input type="hidden" name="start" th:value="${fIncome.start}">
              <button type="submit">-</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>

      <table>
        <thead>
        <tr>
          <th>Ausgabe</th>
          <th>Betrag</th>
          <th>Frequenz</th>
          <th>Startmonat</th>
          <th>Endmonat</th>
          <th>-</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fExpense: ${fixedExpenses}">
          <td th:text="${fExpense.descr}"></td>
          <td th:text="${#numbers.formatDecimal(fExpense.amount, 1, 'COMMA', 2, 'POINT')}"></td>
          <td th:text="${fExpense.frequency}">monaltich</td>
          <td th:text="${fExpense.start}"></td>
          <td th:text="${fExpense.endValue != null ? fExpense.endValue: '-'}">-</td>
          <td>
            <form method="post" th:action="@{/{year}/{month}/deleteFixedExpense(year=${currYear}, month=${currMonth})}">
              <input type="hidden" name="descr" th:value="${fExpense.descr}">
              <input type="hidden" name="start" th:value="${fExpense.start}">
              <button type="submit">-</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>